@font-face {
    font-family: "InkyThinPixels";
    src: url("fonts/Inky-Thin-Pixels_0.ttf");
  }

body{
    /*margin: 0px auto;*/
    font-family: InkyThinPixels;
    overflow: scroll;
    max-width: 390px;
    position: relative;
    }
    
    h1, h2, h3, h4, h5, h6{
        font-family: InkyThinPixels;
    }

    .container{
        font-family: InkyThinPixels;
    }



    /*Главное меню*/

    .background_home{
        background-image: url(img/main.png);
        height: 610px;
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .cashHome{
        background-image: url(img/vmoney.png);
        position: absolute;
        top: 15px;
        left: 60px;
        width: 50px;
        height: 50px;
        border: none;
    }

    .cashHome2{
        position: absolute;
        top: 30px;
        left: 102px;
        color: #FFD300;
        
    }


    /*навигация*/

    .shopButton{
        position: absolute;
        top: 535px;
        left: 18%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/shopButt.png);
        background-size: cover;
    }

    .eatButton{
        position: absolute;
        top: 535px;
        left: 35%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/eatButt1.png);
        background-size: cover;
    }

    .sleepButton{
        position: absolute;
        top: 535px;
        right: 35%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/sleepButt1.png);
        background-size: cover;
    }

    .playButton{
        position: absolute;
        top: 535px;
        right: 18%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/playButt1.png);
        background-size: cover;
    }


    .workButton{
        position: absolute;
        top: 70px;
        right: 4%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/workButt.png);
        background-size: cover;
    }















    /*Shop*/

    .background_shop{
        background-image: url(img/shopBack.jpg);
        height: 610px;
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .cashShop{
        background-image: url(img/vmoney.png);
        position: absolute;
        top: 8px;
        left: 60px;
        width: 50px;
        height: 50px;
        border: none;
    }
    

    /*products*/

    .prod1Button{
        position: absolute;
        top: 130px;
        left: 13%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/prod1.png);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }

    .prod2Button{
        position: absolute;
        top: 130px;
        left: 32%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/prod2.png);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }

    .prod3Button{
        position: absolute;
        top: 130px;
        left: 52%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/prod3.png);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }


    .prod4Button{
        position: absolute;
        top: 215px;
        left: 13%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/prod4.png);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }

    .prod5Button{
        position: absolute;
        top: 215px;
        left: 32%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/prod5.png);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }

    .prod6Button{
        position: absolute;
        top: 215px;
        left: 52%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/prod6.png);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }


    .prod7Button{
        position: absolute;
        top: 300px;
        left: 13%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/prod7.png);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }

    .prod8Button{
        position: absolute;
        top: 300px;
        left: 32%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/prod8.png);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }

    .prod9Button{
        position: absolute;
        top: 300px;
        left: 52%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/prod9.png);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }

    /*навигация*/

    .mainButton{
        position: absolute;
        top: 535px;
        left: 44%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(img/mainButt.png);
        background-size: cover;
    }

    .frontButton{
        position: absolute;
        top: 540px;
        right: 24%;
        width: 44.06px;
        height: 32px;
        border: none;
        background: none;
        background-image: url(img/frontButt.png);
        background-size: cover;
    }

    .backButton{
        position: absolute;
        top: 540px;
        left: 24%;
        width: 44.06px;
        height: 32px;
        border: none;
        background: none;
        background-image: url(img/backButt.png);
        background-size: cover;
    }







    /*Donate Shop*/
    .background_shop{
        background-image: url(img/shopBack.jpg);
        height: 610px;
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .cashShop{
        background-image: url(img/vmoney.png);
        position: absolute;
        top: 13px;
        left: 60px;
        width: 50px;
        height: 50px;
        border: none;
    }
    

    /*products*/

    .prodDonate1Button{
        position: absolute;
        top: 130px;
        left: 13%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(#);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }

    .prodDonate2Button{
        position: absolute;
        top: 130px;
        left: 32%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(#);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }

    .prodDonate3Button{
        position: absolute;
        top: 130px;
        left: 52%;
        width: 42.5px;
        height: 42.5px;
        border: none;
        background: none;
        background-image: url(#);
        background-size: cover;
        font-family: InkyThinPixels;
        text-decoration: none;
        color: #FFD300;
    }


    
